{% extends "base.html" %}
{% block content %}

<div class="post">
<div class="about-content">
<h2>about</h2>
            <p>
            I’m miles. I’m a biker, sewer, mountaineer, and software developer from the appalachian mountains. I currently reside in Asheville, NC where I spend every free moments outside on two legs or two wheels. I'm passionate about music, cartography, outdoor conservation and access, repair and reuse, and creating things by hand
            </p>
            <p>
            This website is a geospatial record of my trips, projects, and creations. It was built using leaflet with python scripts generating the static webpages. Click, pan, and zoom around the map to see routes and locations. Or click on a post to read more. See the gibhub repository below
            </p>

        <a href="https://www.linkedin.com/in/mileskmo/" class="link" target="_blank"> - linkedin </a>
        <br><br>
        <a href="https://github.com/mkrbmo/" class="link" target="_blank"> - github </a>
        <h2>experience</h2>
            <ul>
                <li><I>Research Technician</I>, Huue Biosciences - Berkeley, CA - 2021-22</li>
                <li><I>Laboratory Technician</I>, Bolt Threads - Emeryville, CA - 2020-21</li>
                <li><I>Advanced Laboratory Assistant</I>, Moorehead Labs - Chapel Hill, NC - 2016-20</li>
            </ul>
        <h2>education</h2>
            <ul>
                <li><I>City College of San Francisco</I> - San Francisco, CA - 2021-22
                    <p class="resume-item">- computer science curriculum centered around functional Python programming and development of versatile, efficient scripts</p>
                </li>

                <li><I>University of North Carolina at Chapel Hill - </I> Chapel Hill, NC - 2016-20
                    <p class="resume-item">- bachelor in chemistry and environmental science</p>
                    <p class="resume-item">- concentration in environmental sustainability and renewable energy</p>
                </li>

                <li><I>Joint Graduate School of Energy and Environment - </I> Bangkok, Thailand - 2019
                    <p class="resume-item">- graduate level environmental science curriculum focused on sustainability and atmospheric chemistry in Southeast Asia</p>
                    <p class="resume-item">- self-directed life cycle asssessment research</p>
                </li>
            </ul>
        
        <h2>skills</h2>
        <p>Python | SQL | Git | Test-Driven & REST API Development | Javascript | HTML | CSS | Intuitive Problem-solving | Communication | Organization</p>

        <h2>publications</h2>
            <ul>
                <li>"Third generation of photovoltaic panels: A life cycle assessment" <i>Renewable Energy</i>, 2020</li>
            </ul>
</div>
</div>

        </div>

{% endblock %}
